*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
     --seaGreen: rgb(32, 173, 150);
     --blueWrite:rgb(63, 58, 100);
     --bgGray:rgb(248, 248, 248);
     --bgDeepGray: rgb(245, 247, 250)

}
.mainContainer{
  width: 70%;
  margin: auto;
}
/*flex proprieties*/
.d-flex{
  display: flex;
}
.s-b{
  justify-content: space-between;
}
.j-c{
  justify-content: center;
}
.a-c{
  align-items: center;
}
.a-s{
  align-items: flex-start;
}
.j-s{
  justify-content: flex-start;
}
.wrap{
  flex-wrap: wrap;
}
.d-column{
  flex-direction: column;
}
.green{
  color: var(--seaGreen);
}
.txt-center{
  text-align: center;
}
.relative{
  position: relative;
}
.absolute{
  position: absolute;
}
.textGray{
  color: rgb(166, 156, 165);
}
.textBlue{
  color: rgb(63, 58, 100);
}
.bgGreen{
  background-color: var(--seaGreen)
}
a{
  text-decoration: none;
  color: inherit;
}
.mb20{
  margin-bottom: 20px;
}
.mb10{
  margin-bottom: 10px;
}
.bold{
  font-weight: bold;
}
.fs12{
  font-size: 12px;
}
.opacity{
  filter: opacity(0.3);
}